.face {
  box-shadow: 0 3px 0 0 #0087db, 0 2px 8px 0 #009dff, 0 4px 10px 0 rgba(33, 7, 77, .5);
}

img {
  border-radius: .5rem;
}

.bounding-box {
  position: absolute;
  box-shadow: inset 0 0 0 3px #149df2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}